[submodule "LAMP-Web-Stack-Implementation"]
	path = LAMP-Web-Stack-Implementation
	url = https://github.com/Isaac-Ayanda/DevOps_Projects
[submodule "AWSCloud-Solution-For-2Company-Websites"]
	path = AWSCloud-Solution-For-2Company-Websites
	url = https://github.com/Isaac-Ayanda/DevOps_Projects
